body{
	background-color: #E6E6E6;
}
#blue{
	font-size: 50pt; text-align: center; font-family: Fredoka One;
    background-color: #0404B4;
    color: #FFBF00;
}
table{
	margin: auto;
}
#submit{
   background-color: #0404B4;
   color: #FFBF00;
   font: normal 15pt Arial;
}