body{
	background-color: #E6E6E6; 
}
#blue{
	font-size: 50pt; text-align: center; font-family: Fredoka One;
    background-color: #0404B4;
    color: #FFBF00;
	
}
#Login{
	font-size: 15pt; font-family: Arial; 
	align-items: center;

}
#colors{
	font-family: Arial; 
    background-size: 50pt;
}
#div1{
	font-family: Arial; font-size: 15pt;
	
}
#img{
	width: 40px; 
}

#pchat{
	color: #FFBF00;
	width: 80px;
	text-align: center;
}
table{
	margin: auto;
}
#center{
	text-align: center;	
}
#submit{
   background-color: #0404B4;
   color: #FFBF00;
   font: normal 15pt Arial;
   margin: none;
   text-align: center;
}
#cadastro{
	font-family: Fredoka One;
	font-size: 15pt;
	text-align: center;
}